
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NotOpen</title>
</head>
<body>
    <div> Web Close!</div>
</body>
</html>
