@model DotWeb.WebInfo
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section head {
    <link rel="stylesheet" href="~/Content/css/page.css">
}
@Html.Partial("sidebar", Model.product_category)
<div id="content">

    <h3>公司簡介<em>About Us</em></h3>

    <ul class="list">
        <li>兆辰土木包工業創立於民國79年12月10日</li>
        <li>崧賀營造有限公司創立於民國89年8月9日</li>
        <!--<li>負責人：彭雲青</li>-->
        <li>服務項目：土木工程、建築工程(廠房新建.改建)、鋼構工程</li>
    </ul>

    <p>隨著台灣的經濟成長，經過重大國建的淬煉，崧賀營造與兆辰土木包承攬的工程亦趨多元化發展，從工業廠房、高級辦公或住宅大樓、大型商場、公共建築、休憩設施及學校等，皆有崧賀營造與兆辰土木包引以為傲的作品，高品質的口碑已與崧賀營造與兆辰土木包連成等號。</p>

    <p>崧賀營造與兆辰土木包擁有挑戰高難度工程的獨特競爭力，也因此才能一次又一次完成許多不可能的任務，而要達到此目的，除了須具備有穩健的財務以及優秀的員工外，最重要的是崧賀營造與兆辰土木包團隊的向心力和動員能力，尤其在關鍵時刻對於資源的利用與整合，崧賀營造與兆辰土木包均能運用自如。</p>

    <p>崧賀營造與兆辰土木包以正確的營運方針、穩建的財務支援、專精的優秀人才以及技術的引進與研發，展現崧賀營造與兆辰土木包的經營特質，從品質、速度和服務中創造唯一，不斷獲得業主的青睞。這項重要的資源和傳承，奠定崧賀營造與兆辰土木包永續經營的最大利基。</p>

</div><!-- content //-->
